<?php

declare(strict_types=1);

namespace {{ namespace }}\Http\Resources;

use Illuminate\Http\Resources\Json\JsonResource;

/** @mixin \{{ namespace }}\Models\{{ name }} */
class {{ name }}Resource extends JsonResource
{
    /** @return array<string, mixed> */
    public function toArray(\Illuminate\Http\Request $request): array
    {
        return [
{% for field in fields %}
            '{{ field.key }}' => {{ field.expr }},
{% endfor %}
        ];
    }
}
